* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background: #274886;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  justify-self: center;
  overflow: auto;
  width: 100%;
  height: 100svh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h1 {
  padding: 2rem;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: white;
}
h4 {
  padding-bottom: 1rem;
  text-align: center;
}

hr {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: none;
  border-right: none;
  border-top: none;
}

.upload--container {
  background-color: white;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  max-width: 80%;
  padding: 2rem;
  border-radius: 1rem;
}

.drag--drop {
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 1rem;
  border: 2px dashed #274886;
  border-radius: 1rem;
  margin-top: 2rem;
  justify-content: center;
}
.drag--drop p {
  font-weight: bold;
  font-size: smaller;
  text-align: center;
}
.accepted-files--p {
  color: red;
  padding-top: 10px;
  font-size: small;
  font-weight: bold;
}
.naming-format--p {
  color: #333;
  font-size: small;
  font-weight: bold;
}

#file--input {
  display: none;
}
.choose-file--button {
  display: inline;
  background: none;
  cursor: pointer;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  color: #274886;
  text-decoration: underline;
}
.submit--button {
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline;
  width: 100%;
  border: none;
  color: white;
  font-weight: bolder;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #274886;
}
.submit--button:hover {
  background-color: black;
}
/* Reset default styles */
select {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

/* Custom styles for when select is hovered */
select:hover {
  border-color: #999;
}

/* Custom styles for when select is focused */
select:focus {
  outline: none;
  border-color: #00f;
}
svg {
  cursor: pointer;
}
svg:hover {
  stroke: #274886;
}
.files--container {
  padding: 10px;
  width: 100%;
}
.files--list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.files--list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: #dfdcdc;
  word-break: break-all;
  border: none;
}

.files--list li p {
  width: 90%;
}

h5 {
  font-size: medium;
  font-weight: bold;
  color: #274886;
}
.del--button {
  width: 20px;
  background-color: inherit;
  border: none;
}
.error {
  display: none;
  color: red;
  font-size: small;
  font-weight: bold;
  padding: 2px;
}
.highlighted {
  display: none;
  color: green;
  font-size: small;
  font-weight: bold;
  padding: 2px;
}
.status--container {
  position: absolute;
  width: 30rem;
  left: 68%;
  top: 65%;
  height: fit-content;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: none;
}
.success--container,
.fail--container {
  animation-name: fader;
  animation-duration: 6s;
  display: none;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  background-color: whitesmoke;
}
.success--container svg {
  width: 20%;
  stroke: green;
}
.fail--container svg {
  width: 20%;
  stroke: red;
}
.success--container p {
  font-size: x-large;
  font-weight: bolder;
  color: green;
}
.fail--container p {
  font-size: x-large;
  font-weight: bolder;
  color: red;
}

.status--wrapper {
  display: flex;
  align-items: center;
}

.line {
  width: 0;
  height: 4px;
  animation-name: loader;
  animation-duration: 6s;
}
.success--container .line {
  background-color: green;
}
.fail--container .line {
  background-color: red;
}

.loading--overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  color: white;
  opacity: 0.9;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: auto;
}
.loading--progress--container {
  max-width: 70%;
  width: 25rem;
  padding: 1rem;
}
.details--container {
  display: flex;
  justify-content: space-between;
}
.loading--progress {
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #fff;
  background-color: gray;
  border-radius: 5px;
}
.loading--animation {
  width: 3rem;
  height: 3rem;
  border: 4px solid #fff;
  top: 50%;
  animation: loader-outer 2s infinite ease;
}

.loading_inner--animation {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.uploaded_files--container {
  font-size: medium;
  text-align: center;
  max-width: 85%;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}
.uploaded_files--container p {
  text-align: center;
}

.cancel--submission {
  width: 2.5rem;
  color: white;
  font-weight: bolder;
  background: none;
  border: none;
  margin-top: 9rem;
  margin-bottom: 1rem;
}

@keyframes loader-outer {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
@keyframes loader {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1150px) {
  main {
    position: unset;
  }
  .status--container {
    position: unset;
    width: 18rem;
    margin-top: 1rem;
    padding: 0;
  }
  .uploaded_files--container {
    text-align: left;
  }
  .cancel--submission {
    margin-top: 4rem;
  }
}
